<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Student – Scan</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/html5-qrcode.min.js') }}"></script>
	<script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
	
</head>
<body>
    <div class="container">
        <h1>Student Scanner</h1>

        <div class="inline">
            <input id="student-id" placeholder="student-id">
            <button id="save-id">Save</button>
        </div>
        <p class="muted">Your ID is stored in this browser only.</p>

        <div id="qr-reader"></div>
        <div id="scan-status"></div>
    </div>
</body>
</html>
